#!/usr/bin/env bash

# shellcheck source=.local/etc/environment
source ".local/etc/environment"
watch_file "${ETC_DIR}/environment"

if [[ -f ~/.nix-channels ]]; then
  source_env "${ETC_DIR}/direnv/envrc.use_nix"
  use nix \
    -s "${NIX_ETC_DIR}/shell.nix" \
    -w "${NIX_ETC_DIR}/.nixpkgs-version.json"
fi
