#!/usr/bin/env bash

PATH_add scripts

export ETC=${PWD}/.local/etc

if [[ -f ~/.nix-channels ]]; then
  source_env $ETC/direnv/envrc.use_nix
  nix_config_dir=$ETC/nix
  use_nix \
    -s "${nix_config_dir}/shell.nix" \
    -w "${nix_config_dir}/.nixpkgs-version.json"
fi

export STACK_YAML=$ETC/stack/stack.yaml
